* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}
/* THIS COURSE IN NOT RESPONSIVE BUT I ADD SOME ROOLS IN MEDIA FOR SMALL SCREENS JUST FOR A BETTER ASPECT  */

@media only screen and (max-width: 900px) {
    #video video {
        width: 80vw;
        height: 45vw;
    }
    #img-container p img {
        width: 80vw;
        height: 45vw;

    }
    
    #subscription p:nth-of-type(1) img {
        width: 5vw;
    }
}

header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 2%;
}
#video p {
    text-align: center;
    color: white;
}
#video > p a {
    color: aquamarine;
    font-size: 16px;
}
#video video {
    display: flex;
    margin: auto;
}
#img-container h2 {
    color: white;
    text-align: center;
}

#img-container p {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-content: center;
    text-align: center;
} 
#subscription p:nth-of-type(1) {
color: white;
text-align: center;
font-size: 20px;
padding: 2%
}
#subscription p:nth-of-type(2) {
color: white;
text-align: center;
padding: 2%;
}
#subscription p a {
    color: white;
}
#subscription .soon {
    width: 80vw;
    margin: auto;
}
#subscription .soon h3 {
    font-size: 20px;
    color: white;
    text-align: center;
    padding-bottom: 5%;
}
footer {
    color: gray;
    text-align: right;
    padding-right: 10px;
}